
$base00: #2E3440;
$base01: #3B4252;
$base02: #434C5E;
$base03: #4c566a;
$base04: #D8DEE9;
$base05: #E5E9F0;
$base06: #ECEFF4;
$base07: #8FBCBB;
$base08: #BF616A;
$base09: #D08770;
$base0A: #EBCB8B;
$base0B: #A3BE8C;
$base0C: #88C0D0;
$base0D: #5E81AC;
$base0E: #B48EAD;
$base0F: #81A1C1;

@use 'sass:color';


* {
  font-family: MesloLGS NF;
}

tooltip {
  background-color: $base01;
  color: $base05;
}

// bar

.MainContainer {
  padding: 0px 3px;
  margin: 0px 3px;
  background-color: transparent;
  color: $base05;
  border-radius: 15px;
}

.PowerButton, .PowerButton:hover {
  padding: 0px 2px;
  color: $base05;
  background-color: $base00;
  border-radius: 15px 0px 0px 15px;
}

.Clock {
  background-color: $base00;
  padding: 0px 5px 0px 0px;
  border-radius: 0px 15px 15px 0px;
}

.Tray {
  margin: 0px 0px 0px 2px;
  padding: 0px 5px;
  border-radius: 15px;
  background-color: $base00;
}

.TrayEmpty {
  background-color: transparent;
}

.Tray button {
  padding: 0px 0px;
  margin: 0px 2px;
  background-color: $base00;
}

.Tray button:hover {
  padding: 0px 0px;
  margin: 0px 2px;
  background-color: $base00;
}


.Workspaces {
  background-color: $base00;
  padding: 0px 5px;
  border-radius: 15px;
  font-size: 14px;
}

.Workspaces button {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  color: rgba($base0D, .4);
}

.Workspaces button.Focused {
  color: $base0D;
  font-size: 15px;
}

.Workspaces button.Inactive {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5)
}

.Workspaces button:hover {
  //color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .8);
  transition: all 1s ease;
}

.Battery {
  color: $base05;
  margin: 0px 2px 0px 0px;
  padding: 0px 7px 0px 3px;
  border-radius: 0px 15px 15px 0px;
  background-color: $base00;
}

.BatteryCharging {
  color: $base0B;
  margin: 0px 2px 0px 0px;
  padding: 0px 7px 0px 3px;
  border-radius: 0px 15px 15px 0px;
  background-color: $base00;
}

.BatteryLow {
  color: $base08;
  margin: 0px 2px 0px 0px;
  padding: 0px 7px 0px 3px;
  border-radius: 0px 15px 15px 0px;
  background-color: $base00;
}

.BatteryCritical {
  color: $base08;
  margin: 0px 2px 0px 0px;
  padding: 0px 7px 0px 3px;
  animation: pulse 2s infinite;
  border-radius: 0px 15px 15px 0px;
  background-color: $base00;
}

@keyframes pulse {
  0% {
    color: $base08 
  }
  50% {
    color: color.adjust($base08, $lightness: -20%)
  }
  100% {
    color: $base08
  }
}

.Network {
  padding: 0px 5px 0px 1px;
  color: $base05;
  background-color: $base00;
}

.Inhibitor {
  padding: 0px 0px 0px 5px;
  background-color: $base00;
  border-radius: 15px 0px 0px 15px;
  color: $base05;
}

.InhibitorActive {
  padding: 0px 0px 0px 5px;
  background-color: $base00;
  border-radius: 15px 0px 0px 15px;
  color: $base0D;
}


// powermenu

.PowerMenuContainer {
  margin: 2px 5px;
  padding: 4px;
  background-color: $base00;
  border-radius: 10px;
}


.ShutdownButton {
  background-color: $base08;
  padding: 2px 5px;
  color: $base05;
}

.RebootButton {
  background-color: $base09;
  padding: 2px 5px;
  color: $base05;
}

.HibernateButton {
  background-color: $base0A;
  padding: 2px 5px;
  color: $base05;
}

.LogoutButton {
  background-color: $base0B;
  padding: 2px 5px;
  color: $base05;
}

